[Desktop Entry]
Name=Software Center
Name[zh_CN]=软件中心
GenericName=Software Center
Comment=Lets you choose from thousands of applications available for your system 
Exec=/usr/bin/software-center %u
Icon=/usr/share/pixmaps/softwarecenter.png
Terminal=false
Type=Application
Categories=PackageManager;GTK;System;Settings;
MimeType=application/x-deb;application/x-debian-package;x-scheme-handler/apt;
StartupNotify=true
X-Ubuntu-Gettext-Domain=software-center
Keywords=Sources;PPA;Install;Uninstall;Remove;Purchase;Catalogue;Store;
