<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
       "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
 <title></title>
</head>
<body>
 <script type="text/javascript">
  function changeTitle(title) { document.title = title; }
 </script>

 <h1>Test widget</h1>

 <p>
   Some text with a substitute value: '${key}'.
 </p>

 <input type="button" name="test_button" 
        value="Button that calls func1 with arg1,arg2"
      onclick='changeTitle("{\"successful\" : \"true\";")'
 />

 <input type="button" name="test_button2" 
        value="Button that calls func2 (no args)"
      onclick='changeTitle("call:func2")'
 />

 <input type="button" name="test_button3" 
        value="Button that calls func_not_existing (should raise a exception)"
      onclick='changeTitle("call:func_not_existing:")'
 />

</body>
</html>
